<main class="home">
  <div class="container">
    <div class="row">
        <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
              <div class="row img-name no-padding">
                <div class="col-12">
                  <img class= "img-fluid rounded-circle" src="./assets/img.png" alt="Resume Photo">
                </div>
              </div>
              <div class="row personal-info no-padding">
                <div class="col-12">
                  <h3>{{app.person.name}}</h3>
                  <h6>{{app.person.degree}}</h6>
                  <p class="title text-capitalize">Objective</p>
                  <p class="border-top text-justify">{{app.person.objective}}</p>
                  <p class="title text-capitalize">Personal Information</p>
                  <ul class="border-top">
                    <li ng-repeat="general in app.maindata">
                      {{app.person[general]}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row languages no-padding">
                <div class="col-12">
                  <p class="title text-capitalize">Languages</p>
                  <ul class="border-top">
                    <li ng-repeat="languages in app.person.languages">
                      <languages languages="languages"></languages>    
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row education no-padding">
                  <div class="col-12">
                      <p class="title text-capitalize">Education</p>
                      <ul class="border-top">
                          <li ng-repeat="education in app.person.education">
                              <education  education="education"></education>    
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="row acad-pro-experience no-padding">
                  <div class="col-12">
                      <p class="title text-capitalize">Academic/Professional Experience</p>
                      <div class="border-top">
                        <div ng-repeat="academicExperience in app.person.academicExperience">
                          <academic-experience  experience="academicExperience"></academic-experience>    
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="row courses no-padding">
                  <div class="col-12">
                      <p class="title text-capitalize">Courses</p>
                      <div class="border-top">
                          <div ng-repeat="courses in app.person.courses">
                            <courses  courses="courses"></courses>    
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row references">
                <div class="col-12">
                  <p class="title text-capitalize">References</p>
                  <div class="border-top">
                    <div class="reference" ng-repeat="references in app.person.references">
                        <references references="references"></references>    
                    </div>
                  </div>
                </div>
              </div>
              <div class="row skills">
                  <div class="col-12">
                    <p class="title text-capitalize">Technical Skills</p>
                    <div class="border-top">
                      <div class="col-12">
                        <form action="Search">
                          <div class="form-group">
                            <label for="searchSkills">Search:</label>
                            <input class="form-control" type="text" name="searchSkill" id="searchSkill" ng-model="searchSkill" placeholder="Web, Languages, Framework, DevOps, Methodologies, CMS, Adobe, DataBase">
                            <ul class="add-margin-top">
                              <li ng-repeat="technicalSkills in app.person.technicalSkills | filter:searchSkill">
                                <technical-skills  skills="technicalSkills"></technical-skills>    
                              </li>
                            </ul>
                          </div>
                        </form>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer></footer>