@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');
/* styles in src/style directory are applied to the whole page */
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #fdfdfd;
}
.home .no-padding {
  padding-left: 0;
  padding-right: 0;
}
.home .img-name {
  margin: 20px 0;
}
.home .img-name img {
  display: block;
  margin: 0 auto;
}
.home .border-top {
  border-top: 1px solid #000;
  padding-top: 20px;
}
.home .title {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
  color: #009fc2;
}
.home .personal-info h3 {
  font-weight: 700;
}
.home .personal-info ul, .home .acad-pro-experience ul, .home .languages ul, .home .education ul {
  list-style-type: none;
  padding-left: 0;
}
.home .personal-info ul li, .home .acad-pro-experience ul li, .home .languages ul li, .home .education ul li {
  margin-bottom: 8px;
}
.home .languages .title {
  margin-top: 20px;
}
.home .languages ul li {
  margin-bottom: 8px;
}
.home .languages ul li p {
  margin-bottom: 0;
}
.home .education span.department {
  font-weight: 700;
}
.home .acad-pro-experience .experience-date, .home .acad-pro-experience .experience-descrip-place {
  margin-bottom: 0;
}
.home .acad-pro-experience .experience-descrip-place {
  font-style: italic;
}
.home .references {
  margin-top: 10px;
}
.home .references .border-top .reference {
  margin-top: 10px;
}
.home .references .border-top .reference .reference-name, .home .references .border-top .reference .reference-workplace, .home .references .border-top .reference .reference-cellphone, .home .references .border-top .reference .reference-email {
  margin-bottom: 0;
}
.home .references .border-top .reference:first-child {
  margin-top: 0;
}
.home .courses .title {
  margin-top: 20px;
}
.home .courses .border-top div:last-child p:last-child {
  margin-bottom: 0;
}
.home .skills .border-top .form-group input {
  display: block;
  width: 100%;
}
.home .skills .border-top .form-group .add-margin-top {
  margin-top: 10px;
}
