/* Fonts */
// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');

/*Mixins*/
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    } @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

/*Variables*/
$white-color: #fff;
$black-color: #000;
$gray: #efefef;
$primary-color: #009fc2;
$secondary-color: #00A7CC;
$tertiary-color: #00687F;
$background-color: #fdfdfd;

/*General Style*/
body{
    //font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: $background-color;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.box-shadow{
    box-shadow: 0 10px 16px 0 rgba($black-color,0.2),0 6px 20px 0 rgba($black-color,0.19) !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
}

a{
    color: $white-color;
    @include on-event{
        text-decoration: underline;
    }
}
ul{
    li{
        list-style-type: none;
    }
}

main{
    #overview{
        //background-color: $primary-color;
        background: url("../public/assets/bg-image-2.png") repeat;
        #general,
        #personal-information,
        #languages,
        #education
        {
            h3,
            h5,
            h6,
            p,
            a,
            ul li{
                color: $white-color;
            }
            hr{
                border-color: $white-color;
            }
        }
    }
    #experience{
        padding-top: 3rem!important;

        #academic-experience{
            h6{
                color: $primary-color;
            }
            .black-color{
                color: $black-color;
            }
            div.list-academic{
                &:last-child{
                    p{
                        padding-bottom: 0;
                        margin-bottom: .25rem!important;
                    }
                }
                &:before {    
                    font-family: 'FontAwesome';
                    content: '\f067';
                    margin:0 5px 0 -15px;
                    color: #f00;
                    }
            } 
        }
        #experience,
        #courses,
        #references
        {
            h6{
                color: $primary-color;
            }
        }
    }
    #skills{
        #technical-skills{
            h6{
                color: $primary-color;
            }
        }
    }
}

@media(min-width:768px){
    #experience{
        padding-bottom: 3rem!important;
    }
    #skills{
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }
}