@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');
/* Fonts */
/*Mixins*/
/*Variables*/
/*General Style*/
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #fdfdfd;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.box-shadow {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
a {
  color: #fff;
}
a:hover, a:active, a:focus {
  text-decoration: underline;
}
ul li {
  list-style-type: none;
}
main #overview {
  background: url("../public/assets/bg-image-2.png") repeat;
}
main #overview #general h3, main #overview #personal-information h3, main #overview #languages h3, main #overview #education h3, main #overview #general h5, main #overview #personal-information h5, main #overview #languages h5, main #overview #education h5, main #overview #general h6, main #overview #personal-information h6, main #overview #languages h6, main #overview #education h6, main #overview #general p, main #overview #personal-information p, main #overview #languages p, main #overview #education p, main #overview #general a, main #overview #personal-information a, main #overview #languages a, main #overview #education a, main #overview #general ul li, main #overview #personal-information ul li, main #overview #languages ul li, main #overview #education ul li {
  color: #fff;
}
main #overview #general hr, main #overview #personal-information hr, main #overview #languages hr, main #overview #education hr {
  border-color: #fff;
}
main #experience {
  padding-top: 3rem !important;
}
main #experience #academic-experience h6 {
  color: #009fc2;
}
main #experience #academic-experience .black-color {
  color: #000;
}
main #experience #academic-experience div.list-academic:last-child p {
  padding-bottom: 0;
  margin-bottom: 0.25rem !important;
}
main #experience #academic-experience div.list-academic:before {
  font-family: 'FontAwesome';
  content: '\f067';
  margin: 0 5px 0 -15px;
  color: #f00;
}
main #experience #experience h6, main #experience #courses h6, main #experience #references h6 {
  color: #009fc2;
}
main #skills #technical-skills h6 {
  color: #009fc2;
}
@media (min-width: 768px) {
  #experience {
    padding-bottom: 3rem !important;
  }
  #skills {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
